﻿body { background: #eee; font-family: "Segoe UI", Calibri, Verdana, Tahoma, "Arial Black", Arial;  }
p { text-align: justify; }

.navbar { -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); 
          -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5); }
          
.navbar label { color: #ddd; display: inline; margin-right: 10px;cursor: default; }

.navbar-inverse .navbar-inner { background-image: linear-gradient(to bottom, #333333, #111111); }

.nav-list { padding-right: 10px; }

#footer { background-color: #ddd; height: 60px; }
.container .credit { margin: 20px 20px; }

a.disabled-link,
a.disabled-link:visited ,
a.disabled-link:active,
a.disabled-link:hover { background-color:#d9d9d9 !important; color:#aaa !important; }

.brand { margin-top: -2px; }
.brand img { width: 28px; margin-top: -5px; }
    
.blogEntry {background-color: #fff; border: 1px solid #ddd; padding: 5px 19px; 
             margin-bottom: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 4px; }
.blogEntry .entry { height: 125px; overflow: hidden; }
.blogEntry hr { margin: 5px -18px; }
.blogEntry .footer { margin-bottom: 5px; }

.comments { background: white; border: 1px solid #ddd; padding-top: 5px; padding-bottom: 5px; 
             margin-bottom: 15px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 4px; }
.comments #disqus_thread { margin: 20px; }

.tweetsRow { background: #f5f5f5; padding: 5px; }
.tweetDate { color: gray; display: block; float: right; }

.contactImg  { width: 20px !important; padding-bottom: 10px; }
.contactImg img { float: right; }
.contactText { width: 100px; }

.tags { overflow: auto; }
.tag { width: 50px; margin-bottom: 10px; float: left; display: inline-block; }

.aboutMe { margin-left: 30px; }
.contactMe { margin-left: 30px; }

.microsoftImg { display: inline; width: 95px; }

pre, pre.prettyprint { tab-size: 4; padding: 5px; margin: 18px 0 30px; border: 1px dashed #ccc; font-family: "Consolas",monospace;
                       overflow-x: scroll; word-break: normal; word-wrap: normal; background-color: #f3f3f3; display: block; white-space: pre; }
.com { color: #008000; }
.str, pre .tag { color: #A31515; }
.kwd, .atv { color: #0000FF; }
.typ { color: #2B91AF; }
.lit { color: #000000; }
.atn { color: #FF0000; }
.pun, .pln { color: #000000; }
.dec { color: purple; }